<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akadasoftware.danceworksonline">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/ActionBarCompact">
        <activity
            android:name="com.akadasoftware.danceworksonline.Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akadasoftware.danceworksonline.Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.akadasoftware.danceworksonline.Login" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akadasoftware.danceworksonline.Home"
            android:label="@string/title_activity_home">
            <intent-filter>
                <action android:name="com.akadasoftware.danceworksonline.Home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akadasoftware.danceworksonline.AccountInformation"
            android:label="@string/title_activity_account_information"
            android:parentActivityName="com.akadasoftware.danceworksonline.Home">
            <intent-filter>
                <action android:name="com.akadasoftware.danceworksonline.AccountInformation" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="Home" />
        </activity>
    </application>

</manifest>
